<section class="posts">
    <% page.posts.each(function (post) { %>
      <article class="post box is-radiusless">
        <div class="post-title">
          <a class="post-title-link" href="<%- url_for(post.path) %>"><h2 class="is-size-4 has-text-dark"><%= post.title %></h2></a>
        </div>
        <div class="post-meta">
            <span class="post-time">日期 : <%- date(post.date, "YYYY-MM-DD") %></span>
        </div>
        <div class="post-excerpt content">
          <%- post.excerpt %>
        </div>
        <a href="<%- url_for(post.path) %>">阅读全文>></a>
      </article>
    <% }) %>
  </section>
<%- partial('_partial/paginator') %>