<article class="post box is-radiusless">
    <div class="post-title">
      <h2 class="is-size-4"><%= page.title %></h2>
    </div>
     <div class="post-meta">
        <span class="post-time">日期&nbsp;:&nbsp;<%- date(page.date, "YYYY-MM-DD") %></span>
    </div>
    <div class="post-content content">
      <%- page.content %>
    </div>
    <div class="level post-meta">
        <div class="level-left">
            <% if(page.next) { %>
              更老一篇&nbsp;:&nbsp;<a href="<%- url_for(page.next.path)%>"><%= page.next.title %></a>
            <% } else { %>
              没有了，已经是最后文章
            <%}%>
        </div>  
        <div class="level-right">
            <% if(page.prev) { %>
              更新一篇&nbsp;:&nbsp;<a href="<%- url_for(page.prev.path)%>"><%= page.prev.title %></a>
            <% } else { %>
              没有了，已经是最新文章
            <%}%>
        </div>
    </div>
 </article>